.fake::before {
  content: url("/assets/cancel-red.png");
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.real::before {
  content: url("/assets/check-green.png");
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#response-dialog {
  border: 1px solid #ccc;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.dialog-close-btn {
  background-image: url("/assets/close.png");
  width: 15px;
  height: 15px;
}
.verdict-image {
  width: 30px;
  height: 30px;
}
