@font-face {
  font-family: "Rubik", sans-serif;
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

#response-dialog {
  border: 1px solid #ccc;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#response-dialog > * {
  font-size: 16px;
  font-family: "Rubik";
}
#response-dialog > img {
  width: 30px;
  height: 30px;
}

#response-dialog > span {
  font-weight: 500;
}

#response-dialog > p {
  /* Reset any previously applied styles */
  margin: 0;
  padding: 0;
  padding-left: 8px;
}

.dialog-close-btn {
  background-image: url("/assets/close.png");
  width: 15px;
  height: 15px;
}
